header{

     background-color: yellow;
     height: 100px;
}

.nav{

    background-color: red;
    height: 300px;
    width: 20%;
    float: left;
    margin-right: 10px;
}

.article{

background-color: yellow;
height: 300px;
width: 58%;
float: left;


}

.sidebar{

    background-color: green;
    height: 300px;
    width: 20%;
    float: right;
    margin-left: 10px;
}
.content{

    margin-top : 30px;
    overflow: hidden;
    text-align: center;

    
}
footer{

    background-color: blueviolet;
    height: 100px;
}
h1{
	text-align:center;
}